  
.header {
  width: 100%;
  height: 70px;
  background: #2e2e30;
  box-shadow: 0 0 10px #f1f1f1;
  border-radius: 10px;
  margin-bottom: 10px;
}
footer{
  width: 100%;
  height: 200px;
  background: #2e2e30;
  box-shadow: 0 0 10px #f1f1f1;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}
footer h2{
  margin: 0;
  font-size: 30px;
  font-weight: normal;
  padding-top: 20px;
  color: #f1f1f1;
  font-family: 'Vidaloka', serif;
}
footer p{
  margin: 0;
  margin-left: 10%;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: normal;
  padding-top: 20px;
  color: #f1f1f1;
  float: left;
  font-family: 'Vidaloka', serif;
}
.container{
  width: 1275px;
  margin: 0 auto;
}
.header h1{
  margin: 0;
  font-size: 30px;
  font-weight: normal;
  padding-top: 20px;
  color: #f1f1f1;
  font-family: 'Vidaloka', serif;
}

.sub_container{
  width: 33%;
  float: left;
}
.input_container{
  width: 50%;
  height: auto;
  float: left;
}
.input_container2{
  width: 50%;
  height: auto;
  float: left;
}


.flex-container {
    
    display: flex;
    justify-content: center;
    background:  #2e2e30;;
    height: 1035px;
    border-radius: 10px;
  }
  
  .flex-container > div[id='movie-ticket-machine'] {
    background-color: #f1f1f1;
    width: 700px ;
    height: 990px;
    margin: 20px;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
  }
  div[id = 'movie-ticket-machine'] > p{
    font-size: 25px;
    font-family: 'Vidaloka', serif;
    color: #333;
    margin: 15px;
  }
  
  .flex-container > div[id='state'] {
    background-color: #f1f1f1;
    width: 700px ;
    height: 990px;
    margin: 20px;
    text-align: left;
    font-size: 20px;
    border-radius: 10px;
  }

  fieldset[name="language"]{
    font-family: 'Vidaloka', serif;
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 20px;
    height: 40px;
  }
  fieldset[name="Input"]{
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
    height: 190px;
  }
  label{
     margin-top: 200px; 
  }
  body{
      font-family: 'Vidaloka', serif;
  }
  
  .flexLg {
    display: flex;
    flex-wrap: wrap;
  }

  .flexLg > div {
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    color: white;
  }
  div.State_show > p {
    margin-top: auto;
    font-size: 15px;
    font-family: 'Vidaloka', serif;
  }
  div.Input_show  p {
    margin-top: auto;
    font-size: 15px;
    float: left;
    font-family: 'Vidaloka', serif;
  }

  div.flexLg > input {
      
      border-radius: 5px;
      background-color: gainsboro;
      width: 80px;
      height: 35px;
      margin-top: 8px;
      margin-right: 10px;
      margin-left:28px;
      margin-bottom: 10px;
      background-color: #2e2e30;
      font-size: large;
      color: #f1f1f1;
      font-family: 'Vidaloka', serif;
  }

  div#stateStep{
      height: 250px;
      text-align: center;
  }

  .flex-result {
    display: flex;
    justify-content: center;
    
  }
  
  .flex-result > div.State_show {
    
    background-color: gainsboro;
    margin: px;
    padding: 20px;
    font-size: 30px;
    border-radius: 5px;
    width: 170px;
    margin-top: 20px;
    margin-right: 20px;
    height: 326px;
  }
  .flex-result > div.Input_show {
    
    background-color: gainsboro;
    padding: 20px;
    font-size: 30px;
    border-radius: 5px;
    width: 380px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    height: 326px;
  }



  img{
    border-style: solid;
    border-color: black;
  }

